@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Roboto&display=swap");
* {
  padding: 0;
  margin-left: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'lato';
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
  width: 100%;
  height: 1189px;
  background: url("/img/bg-header-copy.png") center/100% 100% no-repeat;
}

.header__logo {
  padding: 275px 0px 0px 0px;
}

.header__text {
  padding: 159px 0px 227px 0px;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 5.44px;
  line-height: 40px;
  text-transform: uppercase;
  color: white;
}

.header__text span {
  font-size: 26px;
  letter-spacing: 4.16px;
  font-weight: 400;
  text-transform: lowercase;
}

.header__text::after {
  content: '';
  display: block;
  height: 2px;
  width: 105px;
  background-color: #fff;
  margin: 50px auto 0px;
}

.header__button {
  text-align: center;
}

.header__button button {
  width: 182px;
  height: 47px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 15.5px;
  letter-spacing: 0.93px;
  text-transform: uppercase;
  margin: 0px 0px 75px 0px;
}

nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 22px 0px 0px 0px;
}

.menu-list {
  text-align: center;
  padding: 0px 0px 154px 0px;
}

.menu-list li {
  display: inline-block;
  color: #3c3c3c;
  font-size: 15px;
  font-weight: bold;
  padding: 0px 0px 0px 30px;
}

.menu-list li:hover {
  color: #ada074;
}

.title {
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  letter-spacing: 5.44px;
  color: #000;
  text-transform: uppercase;
}

.title::after {
  content: '';
  display: block;
  width: 81px;
  height: 1px;
  background: #000;
  margin: 35px auto 0px;
}

.about__title {
  padding: 0px 0px 37px 0px;
}

.about__text {
  text-align: center;
  width: 34.50%;
  margin: 0 auto;
  font-size: 14px;
  line-height: 26px;
  color: #868585;
  padding: 0px 0px 70px 0px;
}

.for-what {
  margin: 0 auto;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.for-what__item {
  margin: 0px 0px 0px 10px;
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
}

.for-what__item:first-child {
  margin: 0px 0px 0px 0px;
}

.for-what__logo {
  margin: 0 auto;
  width: 92px;
  height: 92px;
  border-radius: 50%;
  border: 1px solid #f0f0f0;
}

.for-what__logo img {
  padding-top: 27px;
}

.for-what__title {
  text-transform: uppercase;
  font-weight: bold;
  margin: 41px 0px 36px 0px;
  font-size: 22px;
  letter-spacing: 3.52px;
}

.for-what__text {
  color: #868585;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  margin: 0px 0px 95px 0px;
}

.portfolio {
  background: #f3f3f3;
  text-align: center;
}

.portfolio__title {
  padding: 105px 0px 50px 0px;
}

.portfolio__list {
  display: inline;
}

.portfolio__list .portfolio__item {
  display: inline-block;
  padding: 0px 30px 136px 0px;
}

.portfolio__list .portfolio__item:last-child {
  padding: 0px 0px 0px 0px;
}

.portfolio__list .portfolio__item:hover {
  color: #ada074;
}

.works {
  width: 60%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.works__left-row {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0px 27px 0px 0px;
}

.works__right-row {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0px 0px 0px 27px;
}

.works__item {
  margin: 0px 0px 16px 0px;
  width: 100%;
  height: 365px;
  background: #eaeaea;
}

.portfolio__button {
  margin: 64px 0px 0px 0px;
}

.portfolio__button button {
  background: #f3f3f3;
  text-transform: uppercase;
  font-size: 15.5px;
  letter-spacing: 0.93px;
  font-weight: bold;
  width: 182px;
  height: 47px;
  border: 1px solid black;
  margin: 0px 0px 64px 0px;
}

.partners {
  width: 100%;
  height: 389px;
  background: url("/img/partners.png") center/100% 100% no-repeat;
  text-align: center;
}

.partners__title {
  font-size: 30.5px;
  letter-spacing: 1.83px;
  color: #fff;
  font-weight: 400;
  padding: 100px 0px 93px 0px;
}

.partners__images {
  margin: 0 auto;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partners__item {
  padding-left: 100px;
}

.partners__item:first-child {
  padding-left: 0px;
}

.contact {
  background: #ffffff;
  width: 60%;
  margin: 0 auto;
}

.contact__title {
  margin: 166px 0px 120px 0px;
}

.form__your {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  margin: 0px 0px 60px 0px;
}

.form__name {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 0px 0px 0px;
}

.form__name .form__imput-text {
  margin: 0px 60px 0px 0px;
}

.form__email {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 0px 0px 0px;
}

.form__imput-text {
  padding: 0px 15px 15px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: block;
  width: 161px;
  height: 35px;
  background-color: #f8f7f7;
  border-top: 1px solid black;
}

.your__textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.for__textarea {
  overflow: hidden;
  resize: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  background-color: #f8f7f7;
  border-top: 1px solid black;
  width: 100%;
  height: 118px;
}

.form__title {
  padding: 0px 15px 15px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  flex: 0 1 50%;
  display: block;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.84px;
  color: #000;
}

.button {
  margin: 53px 0px 102px 0px;
  text-align: center;
  border: none;
  font-size: 14px;
  letter-spacing: 0.84px;
  font-weight: bold;
}

.button button {
  background-color: Transparent;
}

.props {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  font-size: 14px;
  line-height: 26px;
  color: #000;
}

.props__text {
  padding: 0px 0px 30px 0px;
}

.props__name {
  font-weight: bold;
}

.icons__item {
  text-align: center;
  display: inline-block;
  border: 1px solid black;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  padding: 7px 0px 0px 0px;
  margin: 15px 5px 7px 0px;
}

.props__email span {
  font-weight: bold;
}

.form {
  padding: 0px 83px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.contact__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  margin: 0 auto;
}

.footer {
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 274px;
          flex: 0 0 274px;
  width: 100%;
  height: 274px;
  background-color: #3c3c3c;
}

.footer__logo {
  padding: 48px 0px 35px 0px;
}

.footer__list {
  padding: 0px 0px 34px 0px;
}

.footer__list li {
  display: inline-block;
  padding: 0px 15px 0px 0px;
  color: #a4a4a4;
  font-size: 14px;
}

.footer__list li:first-child {
  padding: 0px 15px 0px 15px;
}

.footer__text {
  color: #6c6c6c;
  font-size: 14px;
}
