@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Roboto&display=swap");
* {
  padding: 0;
  margin-left: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'lato';
  min-width: 320px;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
  width: 100%;
  height: 100%px;
  background: url("/img/bg-header-copy.png") center/cover no-repeat;
}

.header__logo {
  padding: 250px 0px 0px 0px;
}

.header__arrow {
  padding: 0px 0px 153px 0px;
}

.header__text {
  padding: 159px 0px 225px 0px;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 5.44px;
  line-height: 40px;
  text-transform: uppercase;
  color: white;
}

.header__text span {
  font-size: 26px;
  letter-spacing: 4.16px;
  font-weight: 400;
  text-transform: lowercase;
}

.header__text::after {
  content: '';
  display: block;
  height: 2px;
  width: 105px;
  background-color: #fff;
  margin: 50px auto 0px;
}

.header__button {
  text-align: center;
}

.header__button button {
  width: 182px;
  height: 47px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 15.5px;
  letter-spacing: 0.93px;
  text-transform: uppercase;
  margin: 0px 0px 75px 0px;
}

nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 22px 0px 0px 0px;
}

.menu-list {
  text-align: center;
  padding: 0px 0px 154px 0px;
}

.menu-list::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #f2f2f2;
}

.menu-list li {
  display: inline-block;
  color: #3c3c3c;
  font-size: 15px;
  font-weight: bold;
  padding: 0px 0px 22px 30px;
}

.menu-list li:hover {
  color: #ada074;
}

.menu-list li:first-child {
  padding: 0px 0px 0px 0px;
}

.title {
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  letter-spacing: 5.44px;
  color: #000;
  text-transform: uppercase;
}

.title::after {
  content: '';
  display: block;
  width: 81px;
  height: 1px;
  background: #000;
  margin: 35px auto 0px;
}

.about__conrainer {
  margin: 0 auto;
  max-width: 730px;
  padding: 0 15px;
}

.about__title {
  padding: 0px 0px 37px 0px;
}

.about__text {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  font-size: 14px;
  line-height: 26px;
  color: #868585;
  padding: 0px 15px 70px 15px;
}

.for-what {
  margin: 0 auto;
  max-width: 787px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.for-what__item {
  margin: 0px 0px 0px 10px;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.33%;
          flex: 1 1 33.33%;
}

.for-what__item:first-child {
  margin: 0px 0px 0px 0px;
}

.for-what__logo {
  margin: 0 auto;
  width: 92px;
  height: 92px;
  border-radius: 50%;
  border: 1px solid #f0f0f0;
}

.for-what__logo img {
  padding-top: 27px;
}

.for-what__title {
  text-transform: uppercase;
  font-weight: bold;
  margin: 41px 0px 36px 0px;
  font-size: 22px;
  letter-spacing: 3.52px;
}

.for-what__text {
  color: #868585;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  margin: 0px 0px 95px 0px;
}

.portfolio {
  background: #f3f3f3;
  text-align: center;
}

.portfolio__title {
  padding: 105px 0px 50px 0px;
}

.portfolio__list {
  display: inline;
}

.portfolio__list .portfolio__item {
  display: inline-block;
  padding: 0px 30px 136px 0px;
}

.portfolio__list .portfolio__item:last-child {
  padding: 0px 0px 0px 0px;
}

.portfolio__list .portfolio__item:hover {
  color: #ada074;
}

.works {
  width: 100%;
}

.work__container {
  margin: 0 auto;
  max-width: 1130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 15px 0px 15px;
}

.works__left-row {
  height: 2222px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0px 27px 0px 0px;
}

.works__right-row {
  height: 2222px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0px 0px 0px 27px;
}

.works__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.33%;
          flex: 1 1 33.33%;
  margin: 0px 0px 16px 0px;
  background: #eaeaea;
}

.portfolio__button {
  margin: 64px 0px 0px 0px;
}

.portfolio__button button {
  background: #f3f3f3;
  text-transform: uppercase;
  font-size: 15.5px;
  letter-spacing: 0.93px;
  font-weight: bold;
  width: 182px;
  height: 47px;
  border: 1px solid black;
  margin: 0px 0px 64px 0px;
}

.partners {
  width: 100%;
  height: 389px;
  background: url("/img/partners.png") center/100% 100% no-repeat;
  text-align: center;
}

.partners__title {
  font-size: 30.5px;
  letter-spacing: 1.83px;
  color: #fff;
  font-weight: 400;
  padding: 100px 0px 93px 0px;
}

.partners__images {
  width: 100%;
  height: 66px;
}

.partners__container {
  margin: 0 auto;
  max-width: 605px;
  padding: 0px 15px 0px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.partners__item1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35px;
          flex: 0 0 35px;
  background: url("/img/logo2.png") center no-repeat;
  height: 64px;
  width: 64px;
}

.partners__item2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 52px;
          flex: 0 0 52px;
  background: url("/img/logo3.png") center no-repeat;
  height: 64px;
  width: 66px;
}

.partners__item3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 53px;
          flex: 0 0 53px;
  background: url("/img/logo4.png") center no-repeat;
  height: 64px;
  width: 64px;
}

.partners__item4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 111px;
          flex: 0 0 111px;
  background: url("/img/logo5.png") center no-repeat;
  height: 64px;
  height: 64px;
}

.contact {
  background: #ffffff;
  width: 100%;
  margin: 0 auto;
}

.contact__title {
  margin: 166px 0px 120px 0px;
}

.label {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.84px;
  color: #000;
  font-weight: bold;
}

.input {
  height: 35px;
  background: #f8f7f7;
  border-top: 1px solid black;
}

.textarea {
  margin: 0;
  background: #f8f7f7;
  border-top: 1px solid black;
  height: 118px;
  width: 383px;
}

.contact__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__form-flex {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 383px;
          flex: 0 0 383px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 83px 0px 0px;
}

.form__container {
  margin: 0 auto;
  max-width: 733px;
  padding: 0 15px;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 0px 75px 0px;
}

.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.left__label {
  padding: 0px 0px 18px 0px;
}

.right__label {
  padding: 0px 0px 18px 0px;
}

.bottom__label {
  padding: 0px 0px 18px 0px;
}

.button {
  margin: 24px 0px 102px 0px;
  text-align: center;
  border: none;
  font-size: 14px;
  letter-spacing: 0.84px;
  font-weight: bold;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.button button {
  background-color: Transparent;
}

.props {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 252px;
          flex: 0 1 252px;
  font-size: 14px;
  line-height: 26px;
  color: #000;
}

.props__text {
  padding: 0px 0px 30px 0px;
}

.props__name {
  font-weight: bold;
}

.icons__item {
  text-align: center;
  display: inline-block;
  border: 1px solid black;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  padding: 7px 0px 0px 0px;
  margin: 15px 5px 7px 0px;
}

.props__email span {
  font-weight: bold;
}

.form {
  padding: 0px 83px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.contact__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 718px;
  margin: 0 auto;
}

.footer {
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 274px;
          flex: 0 0 274px;
  width: 100%;
  height: 274px;
  background-color: #3c3c3c;
}

.footer__logo {
  padding: 48px 0px 35px 0px;
}

.footer__list {
  padding: 0px 0px 34px 0px;
}

.footer__list li {
  display: inline-block;
  padding: 0px 15px 0px 0px;
  color: #a4a4a4;
  font-size: 14px;
}

.footer__list li:first-child {
  padding: 0px 15px 0px 15px;
}

.footer__text {
  color: #6c6c6c;
  font-size: 14px;
}

@media (max-width: 1170px) {
  .for-what__text {
    padding: 0px 0px 40px 0px;
    margin: 0px 0px 20px 0px;
  }
  .portfolio__list .portfolio__item {
    display: inline-block;
    padding: 0px 30px 50px 0px;
  }
  .portfolio__title {
    padding: 55px 0px 25px 0px;
  }
  .menu-list {
    padding: 0px 0px 50px 0px;
  }
  .works__right-row, .works__left-row {
    height: 1300px;
    margin: 0px 0px 0px 0px;
  }
  .works__left-row {
    margin: 0px 15px 0px 0px;
  }
}

@media (max-width: 830px) {
  .partners {
    height: 200px;
  }
  .partners__title {
    padding: 30px 0px 30px 0px;
  }
  .works__right-row, .works__left-row {
    height: 700px;
    margin: 0px 0px 0px 0px;
  }
  .for-what {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    height: auto;
  }
  .for-what .for-what__text {
    padding: 0px 0px 20px 0px;
    margin: 0px 0px 20px 0px;
  }
  .for-what .for-what__item {
    width: 90%;
    margin: 0 auto;
  }
  .menu-list {
    padding: 0px 0px 50px 0px;
  }
  .about__text {
    padding: 0px 0px 35px 0px;
  }
  .for-what__title {
    margin: 20px 0px 18px 0px;
  }
  .works__right-row, .works__left-row {
    height: 1111px;
  }
}

@media (max-width: 780px) {
  .button {
    margin-bottom: 40px;
  }
  .contact__form-flex {
    padding: 0;
  }
  .form__your {
    margin: 0 auto;
  }
  .contact__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .props {
    text-align: center;
  }
  .top {
    text-align: left;
  }
  .contact__title {
    margin: 50px 0px 50px 0px;
  }
  .menu-list li {
    padding: 0px 0px 22px 12px;
  }
  .work__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 2000px;
  }
  .works__right-row, .works__left-row {
    height: 1111px;
    margin: 0px 0px 0px 0px;
  }
  .works__left-row {
    margin: 0px 0px 15px 0px;
  }
  .portfolio__list .portfolio__item {
    padding-bottom: 50px;
  }
  .portfolio__button {
    margin: 32px 0px 0px 0px;
  }
  .portfolio__button button {
    margin: 0px 0px 32px 0px;
  }
  .works__item:last-child {
    margin: 0px 0px 0px 0px;
  }
  .button {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    width: 100%;
  }
  .button button {
    border: 1px solid black;
    width: 100%;
    padding: 10px 0px 10px 0px;
  }
  .top {
    padding-bottom: 30px;
  }
}

@media (max-width: 445px) {
  .contact__form-flex {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
    padding-bottom: 10px;
  }
  .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
  }
  .left {
    padding-bottom: 10px;
  }
  .right__label {
    padding: 0px 0px 5px 0px;
  }
  .left__label {
    padding: 0px 0px 5px 0px;
  }
  .bottom__label {
    padding: 0px 0px 5px 0px;
  }
}
